<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/public.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
        <script src="https://kit.fontawesome.com/1d73708eed.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- HEADER -->

        <header>

            <div class="main-header-top">
                <a href="localhost:3000">
                    <img class="logo-ml" src="./img/logo-mercado-liebre.svg" alt="logo mercado liebre">
                </a>
                    <div class="barra-busqueda">
                        <input id="input-header" type="search" placeholder="Buscar productos, marcas">
                        <button class="search-button-header" type="submit"><i class="fa fa-search"></i></button>
                    </div>

                <h2 id="text-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compra en cuotas y sin tarjeta de crédito
                </h2>
            </div>

            <nav class="barra-navegacion">
                <ul class="nav-izquierda">
                    <a href="/ofertas">Ofertas</a>
                    <a href="/tiendasOficiales">Tiendas Oficiales</a>
                    <a href="/vender">Vender</a>
                    <a href="/ayuda">Ayuda</a>
                </ul>
                <ul class="nav-derecha">
                    <a href="/crearCuenta">Crea tu cuenta </a><i class="far fa-id-card icono-header"></i>
                    <a href="/ingresa">Ingresa </a><i class="fas fa-sign-in-alt icono-header"></i>
                    <a href="/misCompras">Mis compras </a><i class="fas fa-shopping-basket icono-header"></i>
            </ul>
            </nav>

            <div class="burguer-padre">
                <div class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <img class="imagen-banner" src="./img/img-home-banner.jpg" alt="banner">
        </header> 

        <!-- FIN DEL HEADER -->

        <!-- MAIN -->

        <main>
            <h2 class="encabezado">Basado en tu última visita</h2>
            <section class="main-section">
                    <article class="article-1">
                        <img class="imagen" src="./img/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="pie-del-articulo">
                            <i class="fas fa-truck icono"></i>
                            <ul>
                                <p>$6.770</p>
                                <p class="p-descuento">40% OFF</p>
                            </ul>
                            <h4 class="descripcion-articulo">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" width="160px" src="./img/img-macbook-pro-2019.jpg" alt="imagen img-macbook-pro-2019">
                        <div class="pie-del-articulo">
                            <i class="fas fa-truck icono"></i>
                            <ul>
                                <p>$230.000</p>
                                <p class="p-descuento">20% OFF</p>
                            </ul>
                            <h4 class="descripcion-articulo">Macbook Pro 2019</h4>
                        </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" src="./img/img-samsung-galaxy-s10.jpg" alt="imagen img-samsung">
                            <div class="pie-del-articulo">
                                <ul>
                                    <i class="fas fa-truck icono"></i>
                                    <p>$70.500</p>
                                    <p class="p-descuento">10% OFF</p>
                                </ul>
                                <h4 class="descripcion-articulo">Samsung Galaxy S10</h4>
                            </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" src="./img/img-tv-samsung-smart.jpg" alt="imagen tv smart">
                            <div class="pie-del-articulo">
                                <i class="fas fa-truck icono"></i>
                                <ul>
                                    <p>$23.200</p>
                                    <p class="p-descuento">5% OFF</p>
                                </ul>
                                <h4 class="descripcion-articulo">SmarTV Samsung 43"</h4>
                            </div>
                    </article>
            </section>
            <h2 class="encabezado">Ofertas</h2>
            <section class="main-section">
                    <article class="article-1">
                        <img class="imagen" src="./img/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                        <div class="pie-del-articulo">
                            <i class="fas fa-truck icono"></i>
                            <ul>
                                <p>$6.770</p>
                                <p class="p-descuento">40% OFF</p>
                            </ul>
                            <h4 class="descripcion-articulo">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" width="160px" src="./img/img-macbook-pro-2019.jpg" alt="imagen img-macbook-pro-2019">
                        <div class="pie-del-articulo">
                            <i class="fas fa-truck icono"></i>
                            <ul>
                                <p>$230.000</p>
                                <p class="p-descuento">20% OFF</p>
                            </ul>
                            <h4 class="descripcion-articulo">Macbook Pro 2019</h4>
                        </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" src="./img/img-samsung-galaxy-s10.jpg" alt="imagen img-samsung">
                            <div class="pie-del-articulo">
                                <ul>
                                    <i class="fas fa-truck icono"></i>
                                    <p>$70.500</p>
                                    <p class="p-descuento">10% OFF</p>
                                </ul>
                                <h4 class="descripcion-articulo">Samsung Galaxy S10</h4>
                            </div>
                    </article>
                    <article class="article-1">
                        <img class="imagen" src="./img/img-tv-samsung-smart.jpg" alt="imagen tv smart">
                            <div class="pie-del-articulo">
                                <i class="fas fa-truck icono"></i>
                                <ul>
                                    <p>$23.200</p>
                                    <p class="p-descuento">5% OFF</p>
                                </ul>
                                <h4 class="descripcion-articulo">SmarTV Samsung 43"</h4>
                            </div>
                    </article>
            </section>
        </main> 

        <!-- FIN DEL MAIN -->

        <!-- FOOTER -->

        <footer>
            <section class="footer-section">
                <ul>
                    <i class="fas fa-credit-card icono-footer"></i>
                    <h4 class="h4-footer">Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </ul>
                <ul>
                    <i class="fas fa-gift icono-footer"></i>
                    <h4 class="h4-footer">Envío gratis desde los $2500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </ul>
                <ul>
                    <i class="fas fa-user-shield icono-footer"></i>
                    <h4 class="h4-footer">Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </ul>      
        </footer>
        <div class="footer-text">
            <p id="footer-p">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div> 
        <!-- FIN DEL FOOTER -->
    </body>
</html>